@import '@/styles/DefaultValueVariable.scss';

.header {
  width: calc(100vw - 20%);
  max-height: 50px;
  min-height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $--color-gray-light;
  box-sizing: border-box;

  aside {
    position: fixed;
    width: 20%;
    max-width: 20%;
    height: 100vh;
    top: 0;
    left: 0;
  }
}